p {
  font-size: 20px;
}

body {
  background-color: darkgray;
  padding-left: 50px;
}

table {
  border-collapse: collapse;
  border: 1px solid black;
  background-color: lightyellow;
  color: brown;
}

caption {
  font-size: 25px;
  font-weight: bold;
}

td, th {
  border: 1px solid grey;
  padding: 10px;
  padding-right: 20px;
}

tr:hover {
  background-color: SpringGreen;
}

th {
   color: darkblue;
   background-color: lightcyan;
}
